{% extends 'base/base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% crispy form %}

{% block title %}
    Зарегистрироваться
{% endblock %}

{% block content %}
<div class="wrapper">

    <!--== Start Header Wrapper ==-->

    <div class="header-area header-default">
        <div class="container pt--0 pb--0">
            <div class="row align-items-center position-relative">
                <div class="col-6 col-lg-3">
                    <div class="header-logo-area">
                        <a href="{% url 'index' %}">
                            <img class="logo-main" src="{{ setting.logo.url }}" alt="Logo" />
                            <img class="logo-light" src="{{ setting.logo.url }}" alt="Logo" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 d-none d-lg-block">
                    <div class="header-navigation-area position-relative">
                        <ul class="main-menu nav">
                            <li><a href="{% url 'index' %}"><span>Главная</span></a>
                            </li>
                            <li><a href="{% url 'store' %}"><span>Магазин</span></a>
                            </li>
                            <li><a href="index.html#/"><span>Блок</span></a>
                            </li>
                            <li><a href="index.html#/"><span>Страницы</span></a>
                            </li>
                            <li><a href="{% url 'about_us' %}"><span>О нас</span></a></li>
                            <li><a href="{% url 'contacts' %}"><span>Контакты</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="container py-5">
                    <h1>Создать аккаунт</h1>
                    <p>Зарегистрируйтесь введя следующие данные</p>
                    <form action="" method="post" class="mx-auto" style="width: 35rem;">
                        {% csrf_token %}
                        {{ form|crispy }}<br>
                        <button type="submit" class="btn btn-success">Зарегистрироваться</button>
                    </form>
                    <p><a href="{% url 'login' %}">Уже есть аккаунт?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}