<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Gluson - Electronics eCommerce website Template"/>
    <meta name="keywords" content="accessories, digital products, electronic html, modern, products, responsive"/>
    <meta name="author" content="hastech"/>

    <title>Account :: Gluson - Electronics eCommerce website Template</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">

    <!--== Bootstrap CSS ==-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--== Font Awesome Min Icon CSS ==-->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--== Ioni Icon CSS ==-->
    <link href="assets/css/ionicons.css" rel="stylesheet" />
    <!--== Swiper CSS ==-->
    <link href="assets/css/swiper.min.css" rel="stylesheet" />
    <!--== Fancybox Min CSS ==-->
    <link href="assets/css/fancybox.min.css" rel="stylesheet" />

    <!--== Main Style CSS ==-->
    <link href="assets/css/style.css" rel="stylesheet" />
</head>

<body>

<!--wrapper start-->
<div class="wrapper">

  <!--== Start Header Wrapper ==-->
  <header class="main-header-wrapper position-relative">
    <div class="header-banner">
      <div class="banner-nav">
        <span class="close-banner"><i class="icon ion-android-cancel"></i></span>
        <a class="banner" href="shop.html">
          <div class="img-fluid" data-bg-img="assets/img/photos/header-banner.webp"></div>
        </a>
      </div>
    </div>
    <div class="header-top">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-12">
            <div class="header-top-align">
              <div class="header-top-align-start">
                <div class="header-top-info">
                  <ul class="header-info-list">
                    <li><a href="account.html">My account</a></li>
                    <li><a href="shop-privacy-policy.html">Privacy Policy</a></li>
                    <li><a href="faq.html">Frequently Questions</a></li>
                  </ul>
                </div>
              </div>
              <div class="header-top-align-end">
                <div class="header-top-info">
                  <ul class="header-info-list">
                    <li><a href="shop-wishlist.html">Wishlist</a></li>
                    <li><a href="shop-cart.html">Cart</a></li>
                    <li><a href="shop-checkout.html">Checkout</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-area header-default">
      <div class="container pt--0 pb--0">
        <div class="row align-items-center position-relative">
          <div class="col-6 col-lg-3">
            <div class="header-logo-area">
              <a href="index.html">
                <img class="logo-main" src="assets/img/logo.webp" alt="Logo" />
                <img class="logo-light" src="assets/img/logo-light.webp" alt="Logo" />
              </a>
            </div>
          </div>
          <div class="col-lg-7 d-none d-lg-block">
            <div class="header-navigation-area position-relative">
              <ul class="main-menu nav">
                <li class="has-submenu"><a href="account.html#/"><span>Home</span></a>
                  <ul class="submenu-nav">
                    <li><a href="index.html"><span>Home Shop 1</span></a></li>
                    <li><a href="index-two.html"><span>Home Shop 2</span></a></li>
                    <li><a href="index-three.html"><span>Home Shop 3</span></a></li>
                    <li><a href="index-four.html"><span>Home Shop 4</span></a></li>
                  </ul>
                </li>
                <li class="has-submenu position-static"><a href="account.html#/"><span>Shop</span></a>
                  <ul class="submenu-nav submenu-nav-mega">
                    <li class="mega-menu-item"><a href="account.html#/" class="mega-title"><span>Shop Layouts</span></a>
                      <ul>
                        <li><a href="shop.html"><span>Sidebar Left</span></a></li>
                        <li><a href="shop-right-sidebar.html"><span>Sidebar Right</span></a></li>
                        <li><a href="shop-full-width.html"><span>Full Width</span></a></li>
                        <li><a href="shop-list-view.html"><span>List View</span></a></li>
                      </ul>
                    </li>
                    <li class="mega-menu-item"><a href="account.html#/" class="mega-title"><span>Shop Pages</span></a>
                      <ul>
                        <li><a href="shop-category.html"><span>Product Category</span></a></li>
                        <li><a href="account.html"><span>My Account</span></a></li>
                        <li><a href="shop-wishlist.html"><span>Wishlist</span></a></li>
                        <li><a href="shop-cart.html"><span>Cart</span></a></li>
                        <li><a href="shop-checkout.html"><span>Checkout</span></a></li>
                      </ul>
                    </li>
                    <li class="mega-menu-item"><a href="account.html#/" class="mega-title"><span>Product Types</span></a>
                      <ul>
                        <li><a href="single-normal-product.html"><span>Simple Product</span></a></li>
                        <li><a href="single-group-product.html"><span>Grouped Product</span></a></li>
                        <li><a href="single-product.html"><span>Variable Product</span></a></li>
                        <li><a href="single-external-product.html"><span>External Product</span></a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="has-submenu position-static"><a href="account.html#/"><span>Blog</span></a>
                  <ul class="submenu-nav submenu-nav-mega">
                    <li class="mega-menu-item"><a href="account.html#/" class="mega-title">Blog Layouts</a>
                      <ul>
                        <li><a href="blog-left-sidebar.html">Sidebar Left</a></li>
                        <li><a href="blog-right-sidebar.html">Sidebar Right</a></li>
                        <li><a href="blog-large-image.html">Large Image</a></li>
                        <li><a href="blog.html">Blog Grid</a></li>
                        <li><a href="blog-no-sidebar.html">No Sidebar</a></li>
                      </ul>
                    </li>
                    <li class="mega-menu-item"><a href="account.html#/" class="mega-title">Blog Pages</a>
                      <ul>
                        <li><a href="blog-author.html">Author</a></li>
                        <li><a href="blog-archives.html">Archives</a></li>
                        <li><a href="blog-category.html">Category</a></li>
                        <li><a href="blog-tag.html">Blog Tag</a></li>
                      </ul>
                    </li>
                    <li class="mega-menu-item"><a href="account.html#/" class="mega-title">Post Formats</a>
                      <ul>
                        <li><a href="blog-details.html">Image Format</a></li>
                        <li><a href="blog-details-gallery.html">Gallery Format</a></li>
                        <li><a href="blog-details-audio.html">Audio Format</a></li>
                        <li><a href="blog-details-video.html">Video Format</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="has-submenu"><a href="account.html#/"><span>Pages</span></a>
                  <ul class="submenu-nav">
                    <li><a href="faq.html"><span>Frequently Questions</span></a></li>
                    <li><a href="shop-privacy-policy.html"><span>Privacy Policy</span></a></li>
                    <li><a href="page-not-found.html"><span>Error 404</span></a></li>
                  </ul>
                </li>
                <li><a href="about-us.html"><span>About</span></a></li>
                <li><a href="contact.html"><span>Contact</span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-lg-2">
            <div class="header-action-area">
              <div class="header-search header-search-style1">
                <div class="inner">
                  <button class="search-link" type="button"><i class="ion-ios-search-strong"></i></button>
                  <div class="header-search-content">
                    <form class="header-action-form">
                      <input type="search" placeholder="Search product...">
                      <button type="submit"><i class="ion-ios-search-strong"></i></button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="header-wishlist header-wishlist-style1">
                <div class="inner">
                  <a class="wishlist-link" href="shop-wishlist.html">
                    <i class="ion-android-favorite-outline"></i>
                    <span class="header-count wishlist-count">3</span>
                  </a>
                </div>
              </div>
              <div class="header-minicart header-minicart-style1">
                <div class="inner">
                  <button class="cart-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cartLink">
                    <i class="ion-bag"></i>
                    <span class="header-count minicart-count">3</span>
                  </button>
                  <div class="header-minicart-content collapse" id="cartLink">
                    <div class="minicart-inner">
                      <div class="minicart-list">
                        <div class="minicart-item">
                          <a class="thumb" href="single-product.html">
                            <img src="assets/img/shop/2.webp" alt="Image-HasTech">
                            <span>Condimentum posuere consectetur</span>
                          </a>
                          <p class="quantity-price">1 × <span class="price">$115.00</span></p>
                          <button class="minicart-remove" type="button"><span>×</span></button>
                        </div>
                        <div class="minicart-item">
                          <a class="thumb" href="single-product.html">
                            <img src="assets/img/shop/8.webp" alt="Image-HasTech">
                            <span>Kaoreet lobortis sagittis laoreet</span>
                          </a>
                          <p class="quantity-price">1 × <span class="price">$95.00</span></p>
                          <button class="minicart-remove" type="button"><span>×</span></button>
                        </div>
                        <div class="minicart-item">
                          <a class="thumb" href="single-product.html">
                            <img src="assets/img/shop/10.webp" alt="Image-HasTech">
                            <span>Nostrum exercitationem itae</span>
                          </a>
                          <p class="quantity-price">1 × <span class="price">$79.00</span></p>
                          <button class="minicart-remove" type="button"><span>×</span></button>
                        </div>
                      </div>
                      <div class="minicart-total">
                        <span>Subtotal:</span>
                        <span class="total">$289.00</span>
                      </div>
                      <div class="minicart-buttons">
                        <a class="cart-button" href="shop-cart.html">View cart</a>
                        <a class="cart-button" href="shop-checkout.html">Checkout</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
                <i class="ion-android-menu"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom d-none d-lg-block">
      <div class="container pt--0 pb--0">
        <div class="row align-items-center">
          <div class="col-lg-4 col-xl-3">
            <div class="vertical-menu d-none d-lg-block">
              <button class="menu-btn"><span>Browse Categories</span></button>
              <ul class="vmenu-content vmenu-content-none">
                <li class="menu-item">
                  <a class="menu-item-title" href="shop.html">Computers & Laptops<i class="fa fa-angle-right"></i></a>
                  <ul class="verticale-mega-menu flex-wrap">
                    <li>
                      <a class="title" href="shop.html"><strong>Desktop</strong></a>
                      <ul class="submenu-item">
                        <li><a href="shop.html">Aluminum Nonstick</a></li>
                        <li><a href="shop.html">Calphalon</a></li>
                        <li><a href="shop.html">Contemporary</a></li>
                        <li><a href="shop.html">Hard-Anodized</a></li>
                        <li><a href="shop.html">Sauce Pan</a></li>
                      </ul>
                    </li>
                    <li>
                      <a class="title" href="shop.html"><span><strong>Laptops</strong></span></a>
                      <ul class="submenu-item">
                        <li><a href="shop.html">Apple laptops</a></li>
                        <li><a href="shop.html">Backlit</a></li>
                        <li><a href="shop.html">Chromebooks</a></li>
                        <li><a href="shop.html">Eluktronics</a></li>
                        <li><a href="shop.html">EXcaliberPC</a></li>
                      </ul>
                    </li>
                    <li>
                      <a class="title" href="shop.html"><span><strong>Monitors</strong></span></a>
                      <ul class="submenu-item">
                        <li><a href="shop.html">Dual Core</a></li>
                        <li><a href="shop.html">Gaming Monitors</a></li>
                        <li><a href="shop.html">GPS Monitors</a></li>
                        <li><a href="shop.html">IPS Monitors</a></li>
                        <li><a href="shop.html">Quad Core</a></li>
                      </ul>
                    </li>
                  </ul>
                  <!-- sub menu -->
                </li>
                <li class="menu-item">
                  <a class="menu-item-title" href="shop.html">Mobile & Tablets<i class="fa fa-angle-right"></i></a>
                  <ul class="verticale-mega-menu column-two flex-wrap">
                    <li>
                      <a class="title" href="shop.html"><strong>Mobiles</strong></a>
                      <ul class="submenu-item">
                        <li><a href="shop.html">Adapters, Cables & Chargers</a></li>
                        <li><a href="shop.html">iPhone</a></li>
                        <li><a href="shop.html">Prepaid Phones</a></li>
                        <li><a href="shop.html">Unlocked Phones</a></li>
                      </ul>
                    </li>
                    <li>
                      <a class="title" href="shop.html"><span><strong>Tablets</strong></span></a>
                      <ul class="submenu-item">
                        <li><a href="shop.html">E-Readers</a></li>
                        <li><a href="shop.html">iPad</a></li>
                        <li><a href="shop.html">iPad & Tablet Accessories</a></li>
                        <li><a href="shop.html">Kids Tablets</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item"><a class="menu-item-title" href="shop.html">Fashion & Clothing</a></li>
                <li class="menu-item"><a class="menu-item-title" href="shop.html">Headphone & Speaker</a></li>
                <li class="menu-item"><a class="menu-item-title" href="shop.html">Games & Consoles</a></li>
                <li class="menu-item"><a class="menu-item-title" href="shop.html">Interior & Furniture</a></li>
                <li class="menu-item"><a class="menu-item-title" href="shop.html">Beauty & Health</a></li>
                <li class="menu-item"><a class="menu-item-title" href="shop.html">Interior & Furniture</a></li>
                <li class="menu-item"><a class="menu-item-title" href="shop.html">Smartwatch</a></li>
                <li class="menu-item"><a class="menu-item-title" href="shop.html">TV & Audio</a></li>
                <li class="menu-item"><a class="menu-item-title" href="shop.html">Cameras & Camcoders</a></li>
                <li class="menu-item"><a class="menu-item-title" href="shop.html">Body Parts</a></li>
              </ul>
              <!-- menu content -->
            </div>
          </div>
          <div class="col-lg-5 col-xl-6">
            <div class="header-search-area">
              <form class="header-search-box">
                <input type="search" class="form-control" placeholder="Search product...">
                <button type="submit"><i class="ion-ios-search-strong"></i></button>
              </form>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="header-phone">
              <p><b>800 456 789-987</b><br>24/7 Free Support</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>
  <!--== End Header Wrapper ==-->
  
  <main class="main-content">
    <!--== Start Page Header Area Wrapper ==-->
    <div class="page-header-area faq-header-area">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-12">
            <div class="page-header-content">
              <nav class="breadcrumb-area">
                <ul class="breadcrumb">
                  <li><a href="index.html">Home</a></li>
                  <li class="breadcrumb-sep">></li>
                  <li>My account</li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Account Area Wrapper ==-->
    <section class="account-area">
      <div class="container pt--0">
        <div class="row">
          <div class="col-12">
            <div class="entry-header text-center">
              <h2 class="entry-title">My account</h2>
            </div>
          </div>
        </div>
        <div class="row row-gutter-53">
          <div class="col-12 col-lg-6">
            <div class="account-form-wrap login-form">
              <h4 class="title">Login</h4>
              <div class="account-form">
                <form action="account.html#">
                  <div class="row no-gutter">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="username">Username or email address <span class="required">*</span></label>
                        <input id="username" class="form-control" type="email">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label for="password">Password <span class="required">*</span></label>
                        <input id="password" class="form-control" type="password">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group account-info-group mb--0">
                        <a class="btn-theme btn-border" href="shop.html">Log in</a>
                        <div class="rememberme-account">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">Remember me</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group mb--0">
                        <a class="lost-password" href="account.html">Lost your password?</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="account-form-wrap">
              <h4 class="title">Register</h4>
              <div class="account-form">
                <form action="account.html#">
                  <div class="row no-gutter">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="username2">Username <span class="required">*</span></label>
                        <input id="username2" class="form-control" type="text">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label for="username3">Email address <span class="required">*</span></label>
                        <input id="username3" class="form-control" type="email">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label for="password2">Password <span class="required">*</span></label>
                        <input id="password2" class="form-control" type="password">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group mb--0">
                        <p class="desc">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="shop-privacy-policy.html" class="privacy-policy-link">privacy policy</a></p>
                        <a class="btn-theme btn-border" href="shop.html">Register</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Account Area Wrapper ==-->

    <!--== Start Brand Logo Area Wrapper ==-->
    <div class="brand-logo-area brand-logo-style2-area">
      <div class="container">
        <div class="brand-logo-content">
          <div class="row">
            <div class="col-12">
              <div class="swiper-container-wrap swiper-navigation5">
                <div class="swiper brand-logo-slider-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <!--== Start Brand Logo Item ==-->
                      <div class="brand-logo-item">
                        <a href="index.html"><img src="assets/img/brand-logo/1.webp" alt="Image-HasTech"></a>
                      </div>
                      <!--== End Brand Logo Item ==-->
                    </div>
                    <div class="swiper-slide">
                      <!--== Start Brand Logo Item ==-->
                      <div class="brand-logo-item">
                        <a href="index.html"><img src="assets/img/brand-logo/2.webp" alt="Image-HasTech"></a>
                      </div>
                      <!--== End Brand Logo Item ==-->
                    </div>
                    <div class="swiper-slide">
                      <!--== Start Brand Logo Item ==-->
                      <div class="brand-logo-item">
                        <a href="index.html"><img src="assets/img/brand-logo/3.webp" alt="Image-HasTech"></a>
                      </div>
                      <!--== End Brand Logo Item ==-->
                    </div>
                    <div class="swiper-slide">
                      <!--== Start Brand Logo Item ==-->
                      <div class="brand-logo-item">
                        <a href="index.html"><img src="assets/img/brand-logo/4.webp" alt="Image-HasTech"></a>
                      </div>
                      <!--== End Brand Logo Item ==-->
                    </div>
                    <div class="swiper-slide">
                      <!--== Start Brand Logo Item ==-->
                      <div class="brand-logo-item">
                        <a href="index.html"><img src="assets/img/brand-logo/5.webp" alt="Image-HasTech"></a>
                      </div>
                      <!--== End Brand Logo Item ==-->
                    </div>
                    <div class="swiper-slide">
                      <!--== Start Brand Logo Item ==-->
                      <div class="brand-logo-item">
                        <a href="index.html"><img src="assets/img/brand-logo/6.webp" alt="Image-HasTech"></a>
                      </div>
                      <!--== End Brand Logo Item ==-->
                    </div>
                    <div class="swiper-slide">
                      <!--== Start Brand Logo Item ==-->
                      <div class="brand-logo-item">
                        <a href="index.html"><img src="assets/img/brand-logo/7.webp" alt="Image-HasTech"></a>
                      </div>
                      <!--== End Brand Logo Item ==-->
                    </div>
                  </div>
                </div>

                <!--== Add Swiper Arrows ==-->
                <div class="swiper-btn-wrap">
                  <div class="swiper-btn-prev">
                    <i class="ion-ios-arrow-left"></i>
                  </div>
                  <div class="swiper-btn-next">
                    <i class="ion-ios-arrow-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Brand Logo Area Wrapper ==-->
  </main>

  <!--== Start Footer Area Wrapper ==-->
  <footer class="footer-area">
    <!--== Start Footer Main ==-->
    <div class="footer-main">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-md-6">
            <div class="widget-item">
              <div class="widget-logo">
                <a href="index.html">
                  <img class="logo-main" src="assets/img/logo-theme.webp" alt="Logo" />
                </a>
              </div>
              <p class="desc">We are a team of designers and developers that create high quality Bootstrap5, Template, Opencart.</p>
              <div class="widget-about">
                <div class="widget-contact-wrap">
                  <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-1">Contact Info</h4>
                  <div id="widgetId-1" class="collapse widget-collapse-body">
                    <div class="collapse-body">
                      <div class="widget-contact-info">
                        <ul>
                          <li><span>Address: </span> 4710-4890 Breckinridge St, UK Burlington, VT 05401</li>
                          <li><span>Phone: </span> Call: 1-800-345-6789</li>
                          <li><span>Email: </span> demo@example.com</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="social-icons">
                  <a class="ht-tooltip" data-tippy-content="facebook" href="https://www.facebook.com" target="_blank" rel="noopener">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a class="ht-tooltip" data-bg-color="#40c1df" data-tippy-content="twitter" href="https://twitter.com" target="_blank" rel="noopener">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a class="ht-tooltip" data-bg-color="#c619b8" data-tippy-content="instagram" href="https://www.instagram.com" target="_blank" rel="noopener">
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a class="ht-tooltip" data-bg-color="#ed3c32" data-tippy-content="linkedin" href="https://www.linkedin.com" target="_blank" rel="noopener">
                    <i class="fa fa-linkedin"></i>
                  </a>
                  <a class="ht-tooltip" data-bg-color="#eb8314" data-tippy-content="rss" href="https://rss.com" target="_blank" rel="noopener">
                    <i class="fa fa-rss"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="widget-item">
              <h4 class="widget-title">Information</h4>
              <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-2">Information</h4>
              <div id="widgetId-2" class="collapse widget-collapse-body">
                <div class="collapse-body">
                  <div class="widget-menu-wrap">
                    <ul class="nav-menu">
                      <li><a href="about-us.html">About Us</a></li>
                      <li><a href="contact.html">Delivery Information</a></li>
                      <li><a href="shop-privacy-policy.html">Privacy Policy</a></li>
                      <li><a href="shop-privacy-policy.html">Terms & Conditions</a></li>
                      <li><a href="contact.html">Contact</a></li>
                      <li><a href="account.html">Returns</a></li>
                      <li><a href="account.html">Affilate</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="widget-item">
              <h4 class="widget-title">MY ACCOUNT</h4>
              <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-3">My Account</h4>
              <div id="widgetId-3" class="collapse widget-collapse-body">
                <div class="collapse-body">
                  <div class="widget-menu-wrap">
                    <ul class="nav-menu">
                      <li><a href="account.html">My account</a></li>
                      <li><a href="account.html">Order History</a></li>
                      <li><a href="shop-wishlist.html">Wishlist</a></li>
                      <li><a href="shop.html">Shipping</a></li>
                      <li><a href="shop-privacy-policy.html">Privacy Policy</a></li>
                      <li><a href="contact.html">Help</a></li>
                      <li><a href="faq.html">Frequently Questions</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Footer Main ==-->

    <!--== Start Footer Center ==-->
    <div class="footer-center">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-lg-7 col-xl-6">
            <div class="newsletter-content">
              <div class="newsletter-title">
                <h4 class="title">Newsletter Sign Up</h4>
                <p>(Get <strong>30% OFF</strong> coupon today subscibers)</p>
              </div>
              <div class="newsletter-info">
                <p><strong>Join 2.26.000+ subscribers</strong> and get a<br>
                new discount coupon on every Monday.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-xl-6">
            <div class="newsletter-form">
              <form action="account.html#">
                <input type="email" placeholder="Your email address..." required>
                <button type="submit">Subscribe!</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Footer Center ==-->

    <!--== Start Footer Bottom ==-->
    <div class="footer-bottom">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-12">
            <div class="footer-bottom-content">
              <p class="copyright">© 2023 Gluson. Made with <i class="fa fa-heart"></i> by <a target="_blank" href="https://themeforest.net/user/hastech">HasTech.</a></p>
              <div class="payment">
                <a href="account.html"><img src="assets/img/photos/payment.webp" alt="Payment Logo"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Footer Bottom ==-->
  </footer>
  <!--== End Footer Area Wrapper ==-->

  <!--== Scroll Top Button ==-->
  <div id="scroll-to-top" class="scroll-to-top"><span class="fa fa-angle-up"></span></div>

  <!--== Start Product Quick View Modal ==-->
  <aside class="product-cart-view-modal modal fade" id="action-QuickViewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="product-quick-view-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal">
              <span class="ion-android-close"></span>
            </button>
            <div class="container pt--0 pb--0">
              <div class="row">
                <div class="col-lg-6">
                  <!--== Start Product Thumbnail Area ==-->
                  <div class="product-single-thumb">
                    <img src="assets/img/shop/1.webp" width="628" height="620" alt="Image-HasTech">
                  </div>
                  <!--== End Product Thumbnail Area ==-->
                </div>
                <div class="col-lg-6">
                  <!--== Start Product Info Area ==-->
                  <div class="product-single-info">
                    <h3 class="main-title">Consequuntur magni risus tincidunt</h3>
                    <div class="rating-box-wrap">
                      <div class="rating-box">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="review-status">
                        <a href="javascript:void(0)">(1 Customer Review)</a>
                      </div>
                    </div>
                    <div class="prices">
                      <span class="price">$75.00 – $85.00</span>
                    </div>
                    <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere metus vitae arcu imperdiet, id aliquet ante scelerisque. Sed sit amet sem vitae urna fringilla tempus.</p>
                    <div class="color-form-select-wrap">
                      <label for="colorForm" class="form-label">Color</label>
                      <select id="colorForm" class="color-form-select form-select" aria-label="Color select">
                        <option selected>Choose an option</option>
                        <option value="gold">Gold</option>
                        <option value="green">Green</option>
                        <option value="white">White</option>
                      </select>
                    </div>
                    <div class="qty-add-to-cart-wrap">
                      <div class="qty-wrap">
                        <div class="pro-qty">
                          <input type="text" title="Quantity" value="1">
                        </div>
                      </div>
                      <a class="btn-theme" href="shop-cart.html">Add to cart</a>
                    </div>
                    <div class="wishlist-compare-wrap">
                      <a class="btn-wishlist" href="shop-wishlist.html"><i class="ion-android-favorite-outline"></i> Add to Wishlist</a>
                      <a class="btn-compare" href="shop-cart.html"><i class="ion-ios-shuffle-strong"></i> Compare</a>
                    </div>
                    <div class="social-icons">
                      <span>Share This Product</span>
                      <a class="ht-tooltip" data-tippy-content="facebook" href="https://www.facebook.com" target="_blank" rel="noopener">
                        <i class="fa fa-facebook"></i>
                      </a>
                      <a class="ht-tooltip" data-tippy-content="twitter" href="https://twitter.com" target="_blank" rel="noopener">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a class="ht-tooltip" data-tippy-content="instagram" href="https://www.instagram.com" target="_blank" rel="noopener">
                        <i class="fa fa-instagram"></i>
                      </a>
                      <a class="ht-tooltip" data-tippy-content="linkedin" href="https://www.linkedin.com" target="_blank" rel="noopener">
                        <i class="fa fa-linkedin"></i>
                      </a>
                      <a class="ht-tooltip" data-tippy-content="rss" href="https://rss.com" target="_blank" rel="noopener">
                        <i class="fa fa-rss"></i>
                      </a>
                    </div>
                  </div>
                  <!--== End Product Info Area ==-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <!--== End Product Quick View Modal ==-->

  <!--== Start Side Menu ==-->
  <div class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h1 id="offcanvasExampleLabel"></h1>
      <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">menu <i class="fa fa-chevron-left"></i></button>
    </div>
    <div class="offcanvas-body">
      <nav id="offcanvasNav" class="offcanvas-menu-nav">
        <ul>
          <li class="offcanvas-nav-parent">
            <a class="offcanvas-nav-item" href="javascript:void(0)">Home</a>
            <ul>
              <li><a href="index.html">Home Shop 1</a></li>
              <li><a href="index-two.html">Home Shop 2</a></li>
              <li><a href="index-three.html">Home Shop 3</a></li>
              <li><a href="index-four.html">Home Shop 4</a></li>
            </ul>
          </li>

          <li class="offcanvas-nav-parent">
            <a class="offcanvas-nav-item" href="javascript:void(0)">Shop</a>
            <ul>
              <li>
                <a class="offcanvas-nav-item" href="javascript:void(0)">Shop Layouts</a>
                <ul>
                  <li><a href="shop.html">Sidebar Left</a></li>
                  <li><a href="shop-right-sidebar.html">Sidebar Right</a></li>
                  <li><a href="shop-full-width.html">Full Width</a></li>
                  <li><a href="shop-list-view.html">List View</a></li>
                </ul>
              </li>
              <li>
                <a class="offcanvas-nav-item" href="javascript:void(0)">Shop Pages</a>
                <ul>
                  <li><a href="shop-category.html">Product Category</a></li>
                  <li><a href="account.html">My Account</a></li>
                  <li><a href="shop-wishlist.html">Wishlist</a></li>
                  <li><a href="shop-cart.html">Cart</a></li>
                  <li><a href="shop-checkout.html">Checkout</a></li>
                </ul>
              </li>
              <li>
                <a class="offcanvas-nav-item" href="javascript:void(0)">Product Types</a>
                <ul>
                  <li><a href="single-normal-product.html">Simple Product</a></li>
                  <li><a href="single-group-product.html">Grouped Product</a></li>
                  <li><a href="single-product.html">Variable Product</a></li>
                  <li><a href="single-external-product.html">External Product</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="offcanvas-nav-parent">
            <a class="offcanvas-nav-item" href="javascript:void(0)">Blog</a>
            <ul>
              <li>
                <a class="offcanvas-nav-item" href="javascript:void(0)">Blog Layouts</a>
                <ul>
                  <li><a href="blog-left-sidebar.html">Sidebar Left</a></li>
                  <li><a href="blog-right-sidebar.html">Sidebar Right</a></li>
                  <li><a href="blog-large-image.html">Large Image</a></li>
                  <li><a href="blog.html">Blog Grid</a></li>
                  <li><a href="blog-no-sidebar.html">No Sidebar</a></li>
                </ul>
              </li>
              <li>
                <a class="offcanvas-nav-item" href="javascript:void(0)">Blog Pages</a>
                <ul>
                  <li><a href="blog-author.html">Author</a></li>
                  <li><a href="blog-archives.html">Archives</a></li>
                  <li><a href="blog-category.html">Category</a></li>
                  <li><a href="blog-tag.html">Blog Tag</a></li>
                </ul>
              </li>
              <li>
                <a class="offcanvas-nav-item" href="javascript:void(0)">Post Formats</a>
                <ul>
                  <li><a href="blog-details.html">Image Format</a></li>
                  <li><a href="blog-details-gallery.html">Gallery Format</a></li>
                  <li><a href="blog-details-audio.html">Audio Format</a></li>
                  <li><a href="blog-details-video.html">Video Format</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="offcanvas-nav-parent">
            <a class="offcanvas-nav-item" href="javascript:void(0)">Pages</a>
            <ul>
              <li><a href="faq.html">Frequently Questions</a></li>
              <li><a href="shop-privacy-policy.html">Privacy Policy</a></li>
              <li><a href="page-not-found.html">Error 404</a></li>
            </ul>
          </li>

          <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="about-us.html">About</a></li>

          <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <ul id="offcanvas-menu2" class="offcanvas-menu-nav2">
        <li>
          <a href="javascript:void(0)">My Account</a>
          <ul class="category-sub-menu">
            <li><a href="account.html">My account</a></li>
            <li><a href="shop-privacy-policy.html">Privacy Policy</a></li>
            <li><a href="faq.html">Frequently Questions</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript:void(0)">Product</a>
          <ul class="category-sub-menu">
            <li><a href="shop-wishlist.html">Wishlist</a></li>
            <li><a href="shop-cart.html">Cart</a></li>
            <li><a href="shop-checkout.html">Checkout</a></li>
          </ul>
        </li>
      </ul>
      <p class="info"><b>800 456 789-987</b><br>24/7 Free Support</p>
    </div>
  </div>
  <!--== End Side Menu ==-->
</div>

<!--=======================Javascript============================-->

<!--=== jQuery Modernizr Min Js ===-->
<script src="assets/js/modernizr.js"></script>
<!--=== jQuery Min Js ===-->
<script src="assets/js/jquery-main.js"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="assets/js/jquery-migrate.js"></script>
<!--=== jQuery Popper Min Js ===-->
<script src="assets/js/popper.min.js"></script>
<!--=== jQuery Bootstrap Min Js ===-->
<script src="assets/js/bootstrap.min.js"></script>
<!--=== jQuery Swiper Min Js ===-->
<script src="assets/js/swiper.min.js"></script>
<!--=== jQuery Fancybox Min Js ===-->
<script src="assets/js/fancybox.min.js"></script>
<!--=== jQuery Tippy Min Js ===-->
<script src="assets/js/tippy.all.min.js"></script>
<!--=== jQuery Countdown Js ===-->
<script src="assets/js/countdown.js"></script>

<!--=== jQuery Custom Js ===-->
<script src="assets/js/custom.js"></script>

</body>

</html>